@import url('https://fonts.googleapis.com/css?family=Roboto+slab:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*
--cyan-process: #37b2e6ff;
--canary: #f9ff85ff;
--atomic-tangerine: #ff934fff;
--paradise-pink: #df5368ff;
*/
*{
    font-size: 10px;
}
p {
    font-size: 1.6rem;
}
body{
    font-family: 'roboto', serif;
}
/*-----------------------------------------------------Nav*/
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    height:4.5rem;
    background-color: rgba(249, 255, 133, 1);
    
}
.navbar .navbar-nav a {
    color: #ff934fff;
    font-family: 'Exo', serif;
}
.navbar .navbar-nav a:hover {
    color: #ff934fff;
}
.navbar .navbar-toggler{
    border: 0;
}
ul li a {
    font-size: 1.6rem;
}
/*-----------------------------------------------------Pick*/
.alert{
    top:6rem;
}
.pick-buttons{
    padding-top: 6rem;
}
.btn-primary{
    font-size: 1.2rem;
    position: center;
    width: 24.5%;
    margin-right: 0;
    display: inline-block;
    vertical-align:top;
    background-color: #37b2e6ff;
    border-color: #37b2e6ff;
}
.active{
    background-color: red;
    border-color: red;
}
/*-----------------------------------------------------Map*/
div#map {
    min-height: 360px;
    min-width: 360px;
    top:5rem;
}

/*-----------------------------------------------------Selection*/
#selection{
    padding-top:5rem;
}
.selection-box{
    background-color: #f9ff85ff;
    border: 0.25rem solid #ff934fff;
}

/*-----------------------------------------------------Recommended*/
#recommended{
    padding-top:5rem;
}
.recommended-box{
    background-color: #f9ff85ff;
    border: 0.25rem solid #ff934fff;
}

/*-----------------------------------------------------Headings/Text*/
.holiday-headings{
    text-align:center;
    text-transform: underline;
    color: #df5368ff;
    font-family: 'Exo', serif;
}