@import url('https://fonts.googleapis.com/css?family=Roboto+slab:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*
--cyan-process: #37b2e6ff;
--laser-lemon: #f7ff58ff;
--safety-orange-blaze-orange: #ff680aff;
--paradise-pink: #df5368ff;
*/
*{
    font-size: 10px;
}
p {
    font-size: 1.6rem;
}
body{
    font-family: 'roboto', serif;
}
/*-----------------------------------------------------Nav*/
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    height:4.5rem;
    background-color: rgba(249, 255, 133, 1);
    
}
.navbar .navbar-nav a {
    color: #ff680aff;
    font-family: 'Exo', serif;
}
.navbar .navbar-nav a:hover {
    color: #ff680aff;
}
.navbar .navbar-toggler{
    border: 0;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223, 83, 104, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-size: 2rem;
}
ul li a {
    font-size: 1.6rem;
}
/*-----------------------------------------------------Pick*/
.alert{
    top:6rem;
    bottom:4rem;
}
.pick-buttons-1{
    padding-top: 6rem;
}
.pick-buttons-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.btn-primary{
    font-size: 2.4rem;
    position: center;
    width: 24.5%;
    margin-right: 0;
    display: inline-block;
    vertical-align:top;
    background-color: #37b2e6ff;
    border-color: #37b2e6ff;
    min-height: 3rem;
}
.active{
    background-color: red;
    border-color: red;
}
/*-----------------------------------------------------Map*/
#mapid{
    min-height: 35rem;
}

/*-----------------------------------------------------Selection*/
#selection{
    padding-top:5rem;
}
.selection-box{
    background-color: #f9ff85ff;
    border: 0.25rem solid #ff680aff;
    color: #ff680aff;
}
.btn-location{
    font-size: 1.6rem;
    background-color: #df5368ff;
    color: #fff;
}

/*-----------------------------------------------------Recommended*/
#recommended{
    padding-top:5rem;
}
.recommended-box{
    background-color: #f9ff85ff;
    border: 0.25rem solid #ff680aff;
    color: #ff680aff;
}

/*-----------------------------------------------------Headings/Text*/
.holiday-headings{
    text-align:center;
    text-transform: underline;
    color: #df5368ff;
    font-family: 'Exo', serif;
}

/*-----------------------------------------------------Media Queries*/
@media (min-width: 576px){

}

@media (min-width: 768px) {

}


@media (min-width: 992px) {
    div#mapid {
    min-height: 500px;
}
}